h1,
h2,
p,
a,
footer {
  font-family: "Space Mono", monospace;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("https://source.unsplash.com/collection/136301/1600x900");
}

.main-section {
  width: 70%;
  height: 100%;
  background-color: #cccccc;
  opacity: 0.7;
  padding: 20px;
}

div {
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 15px;
}
